<a class="icon"
   title="Github" aria-label="Github"
   href="{{ site.github_url }}">
   <i class="fab fa-github"></i>
</a>
<a class="icon"
   title="GitLab" aria-label="GitLab"
   href="{{ site.gitlab_url }}">
   <i class="fab fa-gitlab"></i>
</a>
<a class="icon"
   title="Linkedin" aria-label="Linkedin"
   href="{{ site.linkedin_url }}">
   <i class="fab fa-linkedin"></i>
</a>
<a class="icon"
   title="Twitter" aria-label="Twitter"
   href="{{ site.twitter_url }}">
   <i class="fab fa-twitter"></i>
</a>
